<!DOCTYPE html>
<html>
	<head>
		<title>Slide Navbar</title>
		<link href="~/css/loginstylesheet.css" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	</head>
	<body>
		@RenderBody()
	</body>
</html>