@{
    ViewData["Title"] = "Home Page";
}

@model Employee

<div class="text-center">
    <h1 class="display-4">Welcome, @Model.Name</h1>
    <h1 class="display-4">UserId, @Model.UserId</h1>
    <h1 class="display-4">User, @Model.User!.UserName</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
