
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Auth_Layout.cshtml";
}

@model Tuple<LoginViewModel, SignUpViewModel>


<div asp-validation-summary="All" class="signup">
	<form method="post" asp-action="SignUp">
		<label for="chk" aria-hidden="true">Sign up</label>
		<input asp-for="Item2.FirstName" placeholder="FirstName" required="">
		<input asp-for="Item2.LastName" placeholder="LastName" required="">
		<input asp-for="Item2.UserName" placeholder="UserName" required="">
		<input asp-for="Item2.Email" placeholder="Email" required="">
		<input asp-for="Item2.Password" type="password" placeholder="Password" required="">
		<input type="checkbox" id="remember"> Remember me
		<button>Sign up</button>
	</form>
</div>

<div asp-validation-summary="All" class="login">
	<form method="post" asp-action="Login">
		<label for="chk" aria-hidden="true">Login</label>
		<input asp-for="Item1.Email" placeholder="Email">
		<input asp-for="Item1.Password" type="password" placeholder="Password">
		<button type="submit">Login</button>
	</form>
</div>

